.register-container {
    height: 100vh;
    display: flex;
}

.register-left {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 41px;
    width: 45%;
    position: relative;

    & h1 {
        color: #fff;
        text-align: center;
        font-family: "Fira Code" !important;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-inline: auto;
        overflow: hidden;
        white-space: nowrap;
        border-right: 1px solid;
        width: 0;
        opacity: 0;
    }

    & h1.typing {
        animation:
            typing 3s steps(var(--steps, 22)) forwards,
            blink 1s step-end infinite;
        animation-delay: 0s, 0s;
        opacity: 1;
    }

    & h1.delete {
        width: 100%;
        opacity: 1;
        animation: delete 1.8s steps(var(--steps, 22)) forwards;
    }

    & h1.show {
        width: 100%;
        opacity: 1;
        border-right: none;
        animation: none;
    }

    & .register-logo {
        position: absolute;
        top: 46px;
        left: 75px;
    }
}

.register-left,
.register-right {
    padding: 46px 75px;
}

.register-right {
    width: 55%;

    & .register-cont {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        & input {
            border-radius: 10px;
            border: 1px solid #898989;
            display: flex;
            width: 350px;
            height: 40px;
            flex-shrink: 0;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        & button {
            cursor: pointer;
            display: flex;
            width: 160px;
            height: 45px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background: #329afe;
            border: none;
            color: #f1f1f1;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
