.add-button {
    padding-inline: 15px;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    background: #121733;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
}

.add-button:hover {
    background-color: var(--secondary);
}
