.calendar {
  color: #fff; /* testo bianco */
  border-radius: 1rem; /* 16px */
  width: 18.75rem; /* 300px */
  height: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem; /* 20px */
}

.calendar-header h2 {
  font-size: 1.125rem; /* 18px */
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}

.calendar-header span {
  font-size: 1rem; /* 16px */
  font-weight: 600;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.875rem; /* 14px */
  color: #94a3b8; /* grigio chiaro */
  margin-bottom: 0.3125rem; /* 5px */
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.0625rem; /* 1px */
}

.day, .empty {
  text-align: center;
  font-size: 0.875rem; /* 14px */
  padding: 0.375rem 0; /* 6px 0 */
}

.day.today {
  background-color: var(--secondary);
  border-radius: 0.3125rem; /* 5px */
  font-weight: 600;
}
