.commands {
    display: flex;
    gap: 1.25rem; /* 20px */
    width: 100%;
    flex-direction: column;
}

.commands-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commands-content {
    display: grid;
    gap: 0.9375rem; /* 15px */
    grid-template-columns: repeat(2, 1fr);
    padding-right: 1.875rem; /* 30px */
    overflow-y: auto;
    position: relative;
    height: 41.25rem; /* 660px */
}

.commands-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    overflow-y: auto;
    height: calc(44.4375rem - 5.375rem); /* 711px - 86px */
    padding-right: 1.875rem; /* 30px */
}

.commands-content .no-tasks-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--p-color);
    font-size: var(--fs-p);
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
}

.commands-list::-webkit-scrollbar {
    width: 0.5rem; /* 8px */
}

.commands-list::-webkit-scrollbar-track {
    background: #121733;
    border-radius: 0.625rem; /* 10px */
}

.commands-list::-webkit-scrollbar-thumb {
    background: #329afe;
    border-radius: 0.625rem; /* 10px */
}

.commands-list::-webkit-scrollbar-thumb:hover {
    background: #2684d4;
}
