.commands {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

.commands-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commands-content {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 30px;
    overflow-y: auto;
    position: relative;
    height: 660px;
}

.commands-content .no-tasks-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--p-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
}
