.delete-modal {
    width: 40vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-modal h3 {
    font-weight: 400;
    color: var(--p-color);
}

.delete-modal h2 {
    font-size: 1.5rem; /* 24px */
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
}

.delete-modal-text {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
}

.delete-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem; /* 10px */
}

.delete-modal-buttons button {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    font-size: 1rem; /* 16px */
    font-weight: 500;
}

.delete-modal-buttons button[type="confirm"] {
    background-color: #dc2626;
    color: white;
}

.delete-modal-buttons button[type="cancel"] {
    background-color: #121733;
    color: white;
}
