.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.home-top h1 {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.home-date-time {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home-date-time p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
}

.home-main-box .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 10px 0;
}

.home-main-box .tasks {
    display: flex;
}

.tasks {
    height: 100%;
}

.task-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    position: relative;
}

.task-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    position: relative;
    height: 60px;
}

.task-bottom button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 180px;
    gap: 5px;
    border-radius: 10px;
    background: var(--primary, #121733);
    border: none;
    color: white;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.task-bottom button:hover {
    background-color: var(--secondary);
}

.task-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
    padding-bottom: 60px;
}

.no-tasks-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaacb3;
    font-size: 16px;
    font-weight: 500;
}

.home-main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    grid-area: main;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.home-content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 1.5fr;
    gap: 32px;
    grid-template-areas:
        "main main right"
        "left center right";
    width: 100%;
    padding-top: 20px;
    height: 100%;
}

.home-main-box {
    grid-area: main;
}
.right-box {
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.left-bottom-box {
    grid-area: left;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-bottom-box p {
    color: rgb(218, 218, 218);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: inherit;
}

.left-bottom-box h4 {
    color: #fff;

    /* subheading-box */
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.left-bottom-box h2 {
    color: #fff;

    /* heading-box */
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-bottom-box .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.center-bottom-box {
    grid-area: center;
}

.right-box .title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    gap: 10px;
}

.repository-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
