.input-field {
    border: none;
    border-bottom: 1px solid #898989;
    width: 100%;
    display: flex;
    width: 21.875rem; /* 350px */
    height: 2.5rem; /* 40px */
    flex-shrink: 0;
    padding: 0.625rem; /* 10px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */
    color: black;
}

.input-field:focus {
    outline: none;
    border-bottom: 0.125rem solid #329afe; /* 2px */
}
