.input-field {
    border: none;
    border-bottom: 1px solid #898989;
    width: 100%;
    display: flex;
    width: 21.875rem; /* 350px */
    height: 2.5rem; /* 40px */
    flex-shrink: 0;
    padding: 0.625rem; /* 10px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */
    color: black;
}

.input-field:focus {
    outline: none;
    border-bottom: 0.125rem solid #329afe; /* 2px */
}

.input-field.error {
    border-bottom: 0.125rem solid #ef4444;
}

.input-field.error:focus {
    border-bottom: 0.125rem solid #ef4444;
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input-field-error-message {
    color: #ef4444;
    font-size: 0.75rem; /* 12px */
    margin-top: 0.25rem;
    min-height: 1rem;
}
