.project-input-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2a3366;
    color: white;
    padding-block: 0.625rem; /* 10px */
    width: 100%;
}

.project-input-field:focus {
    outline: none;
    border-bottom: 1px solid #4a90e2;
}

.project-input-field.error {
    border-bottom: 1px solid #ef4444;
}

.project-input-field.error:focus {
    border-bottom: 1px solid #ef4444;
}

.project-input-field-range {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* 15px */
}

.project-input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.project-input-field-error-message {
    color: #ef4444;
    font-size: var(--fs-small);
    margin-top: 0.25rem;
    min-height: 1rem;
}
