.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    aspect-ratio: 1.5;
    overflow: hidden;
}

.note-title {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.note-title h2 {
    font-size: var(--fs-h3); /* Responsive font size */
    font-weight: 600;
    margin: 0 0 0.5rem 0; /* 8px */
}

.note-content {
    flex: 1;
    max-height: 7.5rem; /* 120px */
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    max-width: 100%;
}

.note-content p {
    margin: 0;
    font-size: var(--fs-p); /* Responsive font size */
}

.note-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-see-details {
    border-radius: 0.625rem; /* 10px */
    background: var(--secondary);
    border: none;
    color: white;
    padding: clamp(0.4rem, 1vw, 0.625rem) clamp(0.8rem, 2vw, 1.25rem); /* Responsive padding */
    font-size: var(--fs-p); /* Responsive font size */
    cursor: pointer;
}

.note-see-details:hover {
    background-color: #007bff;
    color: white;
}
