.project-details {
    display: flex;
    flex-direction: column;
    gap: 1.875rem; /* 30px */
    width: 100%;
    background-color: var(--bg);
    color: white;
}

.project-details-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.project-details-top .title {
    display: flex;
    gap: 0.9375rem; /* 15px */
    align-items: center;
    flex-direction: row;
}

.project-details-top .title h1 {
    font-size: var(--fs-h1);
}

.project-details-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* 32px */
}

.project-details-container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 2rem; /* 32px */
}

.project-details-three {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
}

.project-details-three h2 {
    color: var(--p-color);
}

.project-details-two {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details-all {
    grid-row: 3 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
}

.project-details-all h2 {
    color: var(--p-color);
}

.project-details-three,
.project-details-two h2 {
    color: var(--p-color);
    font-size: var(--fs-h3);
    font-weight: 700;
}
.project-details-three,
.project-details-two p {
    color: white;
    font-size: var(--fs-p);
    font-weight: 400;
}

.technology {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
}
.technology p {
    display: flex;

    padding: 0.3125rem 0.625rem; /* 5px 10px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */

    width: fit-content;
    border-radius: 0.625rem; /* 10px */
    opacity: 0.7;
    background: #121733;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.progress h2 {
    font-size: var(--fs-h3);
}
.progress-bar {
    background-color: #121733;
    width: 85%;
    height: 0.4375rem; /* 7px */
    border-radius: 3.125rem; /* 50px */
}
.percentage {
    background-color: #329afe;
    height: 100%;
    border-radius: 3.125rem; /* 50px */
}

.progress-bar-cont {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* 15px */
}

.progress-bar-cont p {
    font-size: var(--fs-h3);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.project-details-buttons {
    display: flex;
    gap: 0.625rem; /* 10px */
    align-items: center;
}
