.projects {
    display: flex;
    flex-direction: column;
    padding: 0 1.875rem; /* 30px */
    width: 100%;
    height: 100%;
    gap: 1.25rem; /* 20px */
}

.projects-top {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects-top .title {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem; /* 5px */
}

.projects-top .title h1 {
    color: white;
    font-size: 2.1875rem; /* 35px */
}

.projects-top .title p {
    color: var(--p-color);
    font-family: Roboto;
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 19.6875rem; /* 315px */
    gap: 2rem; /* 32px */
    overflow-y: auto;
    padding-right: 1.875rem; /* 30px */
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.project-title {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
}

.projects-content::-webkit-scrollbar {
    width: 0.5rem; /* 8px */
}

.projects-content::-webkit-scrollbar-track {
    background: #121733;
    border-radius: 0.625rem; /* 10px */
}

.projects-content::-webkit-scrollbar-thumb {
    background: #329afe;
    border-radius: 0.625rem; /* 10px */
}

.projects-content::-webkit-scrollbar-thumb:hover {
    background: #2684d4;
}

.projects-content .no-tasks-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--p-color);
    font-size: 1rem; /* 16px */
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
}
