.project {
    color: white;
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 1.5;
    border-radius: 0.625rem; /* 10px */
    background: #0a1029;
    justify-content: space-between;
    flex-direction: column;
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-top h2 {
    font-size: var(--fs-h3); /* Responsive font size */
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
}

.project-desc {
    display: flex;
}

.project-desc p {
    font-size: var(--fs-p); /* Responsive font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-bottom {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
}

.project-bottom button {
    border-radius: 0.625rem; /* 10px */
    background: var(--secondary);
    border: none;
    color: white;
    padding: clamp(0.4rem, 1vw, 0.625rem) clamp(0.8rem, 2vw, 1.25rem); /* Responsive padding */
    font-size: var(--fs-p); /* Responsive font size */
    cursor: pointer;
}

.project-status {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 8px */
}

.project-status .circle {
    width: 0.625rem; /* 10px */
    height: 0.625rem; /* 10px */
    border-radius: 50%;
    background-color: white;
}

.project-status .PENDING {
    background-color: orange;
}

.project-status .IN_PROGRESS {
    background-color: yellow;
}

.project-status .DONE {
    background-color: green;
}

.project-bottom button:hover {
    background-color: #007bff;
    color: white;
}
