.recent-activity {
    display: flex;
    gap: 0.625rem; /* 10px */
    flex: 1;
}

.recent-activity-left {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem; /* 5px */
    flex: 1;
}

.recent-activity-left h2 {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
}

.recent-activity-left p {
    color: var(--p-color);
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
}
