.repository-item {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    
}

.repository-item .text {
    display: flex;
    align-items: center;
    gap: 1.25rem; /* 20px */
    padding: 0.625rem; /* 10px */
}

.repository-item .text:hover {
    background-color: #162038;
    border-radius: 1rem; /* 16px */
}

.repository-item h4 {
    font-size: 1.125rem; /* 18px */
    font-weight: 400;
    color: white;
}

.repository-item hr {
    border: none;
    border-top: 1px solid #162038;
}

.repository-item a {
    text-decoration: none; /* niente sottolineatura */
    color: inherit; /* eredita il colore del testo dal genitore */
    display: block; /* rende cliccabile tutta l'area */
}

.avatar {
    border-radius: 50%;
}
