.sidebar {
    background-color: #000414;
    height: 100%;
    width: 20rem; /* 320px */
    border-radius: 1.875rem; /* 30px */
    padding: 1.875rem; /* 30px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 1.625rem; /* 26px */
}

.sidebar-top img {
    width: 5.9375rem; /* 95px */
    height: 1.4375rem; /* 23px */
}

.sidebar-top h3 {
    color: var(--grey-200, #bab5ba);
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sidebar-selectors {
    display: flex;
    flex-direction: column;
    gap: 2.3125rem; /* 37px */
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    position: relative;
}

.sidebar-bottom hr {
    width: 16.3125rem; /* 261px */
    height: 0.125rem; /* 2px */
    background-color: #162038;
    border: none;
    border-radius: 0.125rem; /* 2px */
}
.profile {
    display: flex;
    align-items: center;
    gap: 0.75rem; /* 12px */
    padding: 0.625rem; /* 10px */
}

.profile:hover {
    background-color: #0a1029;
    border-bottom-left-radius: 0.625rem; /* 10px */
    border-bottom-right-radius: 0.625rem; /* 10px */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
}

.profile.active {
    background-color: #0a1029;
    border-bottom-left-radius: 0.625rem; /* 10px */
    border-bottom-right-radius: 0.625rem; /* 10px */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.profile-image {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border-radius: 50%;
    background-color: #f1f1f1;
}

.profile h4 {
    color: #f1f1f1;
    text-align: center;
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
