.sidebar-item {
    display: flex;
    gap: 0.625rem; /* 10px */
    padding: 0.625rem; /* 10px */
    align-items: center;
    border-radius: 0.625rem; /* 10px */
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #121733;
}

.sidebar-item p {
    color: #f1f1f1;
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar-item img {
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
}

.active {
    background-color: #121733;
}
