.sidebar-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-item p {
    color: #f1f1f1;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
}

.active {
    background-color: #121733;
}
