.tags-input {
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem; /* 6px */
    padding-block: 0.375rem; /* 6px */
    border: none;
    border-bottom: 1px solid #2a3366;
}

.tag {
    background: #007bff;
    color: white;
    border-radius: 0.375rem; /* 6px */
    display: flex;
    align-items: center;
    padding-inline: 0.375rem; /* 6px */
    gap: 0.375rem; /* 6px */
}

.tag button {
    background: transparent;
    border: none;
    color: var(-bg);
    cursor: pointer;
    font-size: var(--fs-p);
}

.tag-input {
    flex: 1;
    border: none;
    background: transparent;
    color: white;
    padding: 0.25rem 0; /* 4px */
}

.tag-input:focus {
    outline: none;
}
