.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem; /* 32px */
    
}

.tasks-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tasks-buttons {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* 15px */
}

.tasks-top .title {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem; /* 5px */

}

.tasks-top .title h1 {
    color: white;
    font-size: 2.1875rem; /* 35px */
    font-weight: 600;
}
.tasks-top .title p {
    color: var(--p-color);
    font-size: 1rem; /* 16px */
    font-weight: 500;
}


