.tasks-archive {
    padding: 0 1.875rem; /* 30px */
    color: white;
    font-size: var(--fs-h3);
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 32px */
}

.tasks-archive .title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3125rem; /* 5px */
}

.tasks-archive .title h1 {
    font-size: var(--fs-h1);
}

.tasks-archive .title p {
    color: var(--p-color);
    font-family: Roboto;
    font-size: var(--fs-p);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
