.tasks-modal {
    z-index: 1000;
    position: absolute;
    background-color: #0a1029;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 3.125rem; /* 50px */
}

.tasks-modal h1 {
    font-size: var(--fs-h1);
}

.modal-values {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem; /* 25px */
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
