.tasks-archive {
    padding: 0 1.875rem; /* 30px */
    color: white;
    font-size: 1.5rem; /* 24px */
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 32px */
}

.tasks-archive .title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3125rem; /* 5px */
}

.tasks-archive .title h1 {
    font-size: 2.1875rem; /* 35px */
}

.tasks-archive .title p {
    color: var(--p-color);
    font-family: Roboto;
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
