.table-container {
    overflow-x: auto;
    padding-right: 30px;
}

.tasks-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
    border-radius: 8px;
    overflow: hidden;
}

.tasks-table th {
    text-align: left;
    padding: 12px 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #0f193e;
}

.tasks-table td {
    padding: 12px 16px;
    font-size: 14px;
    color: #ffffff;

    border-bottom: 1px solid #0f193e;
}

.tasks-table tbody tr:hover {
    background: rgb(16, 25, 63);
}

/* Title & description */
.task-info {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-weight: 600;
}

.task-description {
    font-size: 12px;
    margin: 2px 0 0;
}

/* Status badges */
.status {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.status.done {
    background: #e6f9ed;
    color: #16a34a;
}

.status.in_progress {
    background: #e6f0ff;
    color: #2563eb;
}

.status.pending {
    background: #ffe6e6;
    color: #dc2626;
}

/* Priority badges */
.priority {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.priority.high {
    background: #a010104d;
    color: #a01010;
}

.priority.medium {
    background: #f7df1e4d;
    color: #ffda4b;
}

.priority.low {
    background: #2f97214d;
    color: #2f9721;
}

/* Actions */
.checkbox-cont {
    display: flex;
    align-items: center;
    height: 100%;
}

.task-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: var(--secondary);
}

.btn {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.btn.view {
    background: #e6f0ff;
    color: #2563eb;
}

.btn.edit {
    background: #fff7e6;
    color: #d97706;
}

.btn.delete {
    background: #ffe6e6;
    color: #dc2626;
}

.btn:hover {
    opacity: 0.85;
}

/* Empty state */
.no-tasks {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.tatable-containersks::-webkit-scrollbar-track {
    background: #121733;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #329afe;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #2684d4;
}

.delete-button {
    background: transparent;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background: #dc2626;
}
