.task {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
    color: white;
    font-size: var(--fs-p);
    padding: 0.625rem 1.5rem; /* 10px 24px */

    border-radius: 0.5rem; /* 8px */
    font-weight: bold;
}

.task.yellow {
    background-color: #fae31820;
}

.task.red {
    background-color: #ff040420;
}

.task.green {
    background-color: #2f972120;
}
.task.yellow p {
    color: #fae318;
}
.task.red p {
    color: #a01010;
}

.task.green p {
    color: #2f9721;
}

.circle-priority {
    width: 0.75rem; /* 12px */
    height: 0.75rem; /* 12px */
    border-radius: 50%;
}

.circle-priority.green {
    background-color: #2f9721;
}

.circle-priority.yellow {
    background-color: #fae318;
}

.circle-priority.red {
    background-color: #ff0404;
}
