.app-container {
    background-color: var(--bg);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    position: relative;
}

.app-padding {
    padding: 25px 30px;
}

@media (max-width: 768px) {
    .app-padding {
        padding: 1rem;
    }
}
